@import "primeicons/primeicons.css";

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  background: var(--p-surface-ground);
  color: var(--p-text-color);
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
  padding: 1.5rem;
}
